.side-bar {
  background-color: #261c25;
}

.companies {
  color: white;
  margin: 1em;
  font-size: 17px;
  padding: 0.5em;
  cursor: pointer;
}

.LW {
  background-color: #514951;
  border-radius: 4px;
}

.SL {
  opacity: 0.5;
}

.SL:hover {
  opacity: 1;
}
